/***************** Hoja de estilos Dosier: Shelley *****************/

/******* Colores y tipografía
 *******/
:root {
  --main-color: #141316;
  --contrast-color: #7119e1;
  --light-color: #FFFFFF;
  --bg-light: #f1f2f6;
  --bg-dark: #250353;
  --sans-serif: Verdana, Geneva, sans-serif;
  --serif: Cambria, Georgia, serif;
}

/******* Reglas para los elementos 
de las páginas *******/
body {
  margin: 0; 
  font-family: var(--serif);
  line-height: 1.6;
  color: var(--main-color);
}

h1,
h2,
h3 {
  font-family: var(--sans-serif);
}

h1 {
  margin-top: 0;
  padding-top: 1rem;
  padding-bottom: 0;
  font-size: 1.5rem;
  line-height: 1;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  line-height: 1.1;
}

p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

blockquote {
  width: 90%;
  margin: 1rem auto;
  padding: .5rem 1rem;
  background-color: var(--bg-light);
  border-left: 3px solid var(--main-color);
}

blockquote p {
  font-weight: 700;
}

q {
  font-weight: 700;
  quotes: "«" "»";
}

cite {
  font-family: var(--sans-serif);
  font-style: normal;
}

/* Enlaces */
a {
  color: var(--contrast-color);
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

/* Reglas imágenes e iframe 
con estas reglas conseguimos que las imágenes y los iframes adapten su anchura al contenedor que ocupan.*/
.img-fluid {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: auto;
  border: none;
  aspect-ratio: 16/9;    
}

/******* Reglas para los elementos 
estructurales *******/

/* Header y nav */
header {
  margin-bottom: 4rem;
  text-align: center;
  background-color: var(--bg-light);
}

h1 > span {
  font-family: var(--serif);
  font-size: 2em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -5px;
}

nav {
  padding: 1rem 0;
  font-family: var(--sans-serif);
  text-transform: uppercase;
  background-color: var(--bg-dark);  
}

nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav > ul > li {
  font-size: .9rem;
  margin-bottom: .25rem;
}

li.current {
  font-weight: 700;
}

nav a {
  color: var(--light-color);
}

nav a:hover {
  color: var(--light-color);
  text-decoration: underline;
  text-underline-position: under;
}

/* Footer */
footer {
  margin-top: 4rem;
  padding: 2rem;
  color: var(--light-color);
  text-align: center;
  background-color: var(--bg-dark);
}

footer p {
  margin-bottom: .25rem;
  font-family: var(--sans-serif);
  font-size: .8rem;
}

/*Contenidos con anchura acotada*/ 
.container {
  width: 95%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

/* Contenedores para imágenes y videos */
figure {
  margin: 0;
  text-align: left;
}

figcaption {
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-family: var(--sans-serif);
  font-size: .75rem;
  text-align: right;
}

/******* Reglas para los 
artículos *******/

/* Párrafos con características especiales */
p.extract {
  font-size: 1.5rem;
  text-align: center; 
}

p.intro {
  margin-left: 7rem;
  font-size: 1.5rem;
}

p > small {    
  font-family: var(--sans-serif);
  font-size: .8rem;
}

div.meta {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div.meta > p {
  margin: 0;
  font-family: var(--sans-serif);
  font-size: .8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* Lista anidada */
ul.works {
  list-style-type: square;
}

ul.works li {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

ul.works > li::marker {
  color: var(--contrast-color);
}

ul.works > li > ul {
  margin-top: 1rem;
  list-style-type: none;
}

ul.works li li {
  font-size: 1.1rem;
  font-weight: 400;
}

/* Lista de descripción */
dt {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 2rem;
  line-height: 1.3;
}

dd {
  margin-left: 0;
}
